<% include header %>
<div class="page-wrap">
    <div id="top-navbar">
<% include navbar %>
    </div>
    <div id="map-content">
        <div id="map-canvas">
        </div>
    </div>
<% include login %>
    <div id="sidebar">
    </div>
    <div id="right-sidebar">
<% include rightPanel %>
    </div>
    <div style="clear: both;">
    </div>
</div>
<% include footer %>


<script type="text/javascript">
// function initialize(){
    var postData = <%- JSON.stringify(sites) %>



    var map = mapInit(47.6201451, -122.3298646);
    
    // mapAddMarker(map, 47.6201451, -122.3298646,"this is my title");
    mapAddMarker(map, 37.7833, -122.4167,"this is my title");
    for (var i=0; i<postData.length; i++) {
        mapAddMarker(map, parseInt(postData[i].latitude), parseInt(postData[i].longitude), "this is my title");
    }
// }
//     google.maps.event.addDomListener(window, 'load', initialize);

</script>