<% include header%>

<% include alerts %>
        

        <form class="form-horizontal" role="form" method="post" action="/auth/register" align="center">
          <div class="container-fluid">
          <h3> New User Registration: </h3>
            <div class="form-group">
              <label for="userName" class="col-sm-3 control-label">Username</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="userName" placeholder="Choose a Unique Username" name="userNameRegistration">
              </div>
            </div>
            <div class="form-group">
              <label for="firstName" class="col-sm-3 control-label">First Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstNameRegistration">
              </div>
            </div>
            <div class="form-group">
              <label for="lastName" class="col-sm-3 control-label">Last Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastNameRegistration">
              </div>
            </div>
            <div class="form-group">
              <label for="emailRegistration" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="emailRegistration" placeholder="Email" name="emailRegistration">
              </div>
            </div>
            <div class="form-group">
              <label for="passwordRegistration" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="passwordRegistration" placeholder="Password" name="passwordRegistration">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-8">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="rememberMeRegistration"> Remember me
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-8" id="registrationSubmit">
                <button type="submit" class="btn btn-default">Register</button>
              </div>
            </div>
          </div>
        </form>


<% include footer %>