<% include header %>
  <div class="container-fluid">
	<div role="tabpanel">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" id="myTab">
			<li role="presentation" class="active"><a href="#addSite" aria-controls="addSite" aria-expanded="true" role="tab" data-toggle="tab">1. Add Sites</a></li>
			<li role="presentation"><a href="#customizeMap" aria-controls="customizeMap" role="tab" data-toggle="tab">2. Customize Map</a></li>
			<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
			<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="addSite">
				This is the content of the first tab...

				Tattooed YOLO brunch, heirloom fingerstache normcore readymade vegan. Banh mi asymmetrical food truck try-hard, Godard cray pop-up street art American Apparel Austin. Etsy banh mi distillery kale chips, iPhone 8-bit butcher vegan jean shorts artisan. Squid sustainable asymmetrical biodiesel single-origin coffee. Schlitz fingerstache synth Austin, 90's trust fund disrupt jean shorts typewriter sustainable butcher cold-pressed. Church-key pickled direct trade, forage distillery tofu Williamsburg. Jean shorts Schlitz synth fap Neutra asymmetrical.

				Hella tattooed keytar ugh, Schlitz hoodie Etsy Marfa YOLO Pinterest Blue Bottle dreamcatcher selvage. Kogi viral Carles, PBR gluten-free Pinterest single-origin coffee Pitchfork Bushwick hella stumptown. Bitters hashtag freegan gentrify. Thundercats Godard ennui, chia deep v lomo next level heirloom Marfa Banksy. High Life stumptown Pinterest, scenester twee authentic yr meh keytar. Polaroid bespoke authentic, Truffaut iPhone salvia Bushwick Wes Anderson Austin. Asymmetrical pickled cred mumblecore.

				Single-origin coffee occupy locavore deep v freegan 90's. Banh mi Kickstarter cornhole Vice, Williamsburg Bushwick lo-fi seitan migas health goth chambray. Sartorial artisan craft beer crucifix fixie. 90's swag four loko authentic bitters, shabby chic cronut 3 wolf moon Shoreditch crucifix trust fund put a bird on it beard hashtag. Yr Etsy Neutra you probably haven't heard of them. Readymade Kickstarter Brooklyn, four loko Odd Future fashion axe American Apparel typewriter trust fund. Fap health goth stumptown, leggings retro Neutra trust fund forage.

				+1 selfies ugh cray Etsy, typewriter art party master cleanse roof party shabby chic tilde forage sartorial organic. Post-ironic Austin whatever, roof party fanny pack crucifix ennui cliche gastropub salvia pop-up Odd Future twee mlkshk. Heirloom chambray Echo Park polaroid. Health goth gluten-free gentrify, food truck McSweeney's lumbersexual Godard artisan tilde lo-fi Banksy butcher meh small batch photo booth. Marfa PBR try-hard iPhone, Bushwick 3 wolf moon meditation Wes Anderson whatever. You probably haven't heard of them DIY Banksy cred vinyl Odd Future. American Apparel keytar pug PBR&B.
			</div>
			<div role="tabpanel" class="tab-pane fade" id="customizeMap">
				This is the contents of second tab:

				Vegan mustache narwhal meditation, ethical single-origin coffee mlkshk mumblecore shabby chic salvia raw denim. Asymmetrical sriracha art party, sartorial squid quinoa authentic. Letterpress meh Tumblr fixie Etsy organic. Seitan quinoa sustainable, trust fund actually cardigan synth Intelligentsia freegan High Life Odd Future salvia tattooed. Williamsburg tofu freegan, selfies paleo vinyl deep v mlkshk literally meditation sustainable sartorial. Asymmetrical selvage stumptown seitan post-ironic. Vice umami semiotics, seitan pour-over YOLO four loko whatever Godard.

				Neutra banjo Pinterest, slow-carb organic Williamsburg 90's Bushwick cardigan whatever. Banh mi Echo Park fixie selvage occupy fap migas, Neutra Truffaut Wes Anderson shabby chic next level Helvetica art party food truck. Synth pour-over lo-fi, Tumblr Austin Schlitz cronut High Life chambray single-origin coffee. VHS American Apparel Neutra stumptown, lo-fi normcore seitan squid health goth pickled butcher Schlitz Bushwick. Blog artisan narwhal lomo four loko, literally twee. Blue Bottle roof party Williamsburg, selvage swag retro VHS paleo vegan Thundercats. Art party tote bag wayfarers vinyl chillwave.
			</div>
			<div role="tabpanel" class="tab-pane fade" id="messages">
				This is the 3rd Tab:
				McSweeney's polaroid street art, Tumblr wolf keffiyeh lumbersexual cornhole Helvetica butcher ugh authentic. Cliche hashtag next level fixie wayfarers, authentic mumblecore direct trade quinoa. Ugh swag keytar, Kickstarter pickled readymade street art blog heirloom tilde narwhal cray meditation. Synth master cleanse fixie post-ironic lumbersexual flannel Vice, chia forage literally. Kale chips cray organic, pour-over DIY banh mi lumbersexual Etsy fashion axe chambray mustache polaroid try-hard. Crucifix chillwave shabby chic tilde. 8-bit Echo Park disrupt, typewriter Pitchfork organic raw denim fashion axe.
			</div>
			<div role="tabpanel" class="tab-pane fade" id="settings">
				<h1>Tab 4</h1>
			</div>

		</div>

	</div>
</div>>



<% include footer %>