
  <div class="container-fluid">
  <% include alerts %>
	<div role="tabpanel">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist" id="myTab">
			<li role="presentation" class="active"><a href="#addSite" aria-controls="addSite" aria-expanded="true" role="tab" data-toggle="tab">1. Add Sites</a></li>
			<li role="presentation"><a href="#customizeMap" aria-controls="customizeMap" role="tab" data-toggle="tab">2. Your Sites</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="addSite">
				<% include siteForm %>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="customizeMap">
				<% include savedSites %>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="settings">
				<h1>Tab 4</h1>
			</div>

		</div>

	</div>
</div>
